.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(153, 153, 153, 0.61);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(141, 138, 138, 0.301);
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
  }
  .contact-page > h1{
    font-size: 38px;
    font-family: "Tilt Prism", cursive;
    background: linear-gradient(135deg, rgb(20, 184, 248), rgb(0, 128, 75));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact-page  input, .contact-page textarea{
    border: 1px solid rgb(0, 105, 109);

  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-mode);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #003b3f;
  }
  
  input,
  textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 150px;
    height: 50px;
    background-color: #003b3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 100ms;
  }
  button:hover{
    border: 1px solid #003b3f;
    color: #003b3f;
    font-weight: 600;
    background-color: white;
  }
  
  button span {
    display: block;
    position: relative;
    z-index: 2;
  }
  
  .sent {
    pointer-events: none;
  }
  
  .sent:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-image: url('path-to-send-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
 .contact-page .links{
    display:flex
  }
  .contact-page .links ul{
    display: flex;
    gap:20px;
    padding:10px
  }
  .contact-page .links ul li{
    cursor:pointer;
    transform:perspective(500%) translatez(100px)  ;

  
   
  }
  .contact-page .links ul li:hover{
    transform: perspective(500px) translateZ(200px);
    color:var(--primary-color) ;
    filter: drop-shadow(0 0 5px rgb(122, 122, 122));
  }
  
