@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Dancing+Script:wght@500&family=Noto+Sans&family=Playfair+Display&family=Roboto:ital,wght@1,100&family=Ruwudu&family=Tilt+Prism&display=swap');
.nav-bar{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
    padding: 20px ;
    z-index: 200;
    position: relative;
  
   

}
.nav-blur{
    background-color: var(--dark-mode);
    opacity: 0.6;
    backdrop-filter: blur(15px);
    transition: all 100px;
    position:fixed;
    top:0
}

.nav-bar .links > ul{
    display: flex;
    gap: 20px;
   
}

.nav-bar .links > ul > li{
   transition: all 100ms;
    cursor:pointer;
    color: var(--light-mode);
    
}
.nav-bar .links > ul li:hover, .active{
    transform: perspective(500px) translateZ(200px);
    color:var(--primary-color) ;
    filter: drop-shadow(0 0 5px rgb(122, 122, 122));
}

.nav-options{
    width: 40%;
   
}
.nav-options ul{
    display: flex;
    gap: 10px;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
.nav-options ul li{
    font-size: 15px;
    cursor:pointer;
    font-weight: 600;
   
}
.nav-options ul li a{
    color: black;
}
.nav-options ul li:hover{
    background: linear-gradient(135deg, rgb(0, 49, 68), rgb(0, 128, 75));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-menu{
    display: none;
    cursor: pointer;

}
@media screen and (max-width: 850px) {
    .nav-bar{
        width: 100vw;
        justify-content: center;
        gap: 40px;

    }
    .day-night-toggle{
        margin-left: -30px;
    }
    .nav-options{
        position: absolute;
        width: 100%;
        height:0;
        top: 100%;
        left: 0;
        z-index: -100000;
        background-color: inherit;
        overflow: hidden;
         transition: all 500ms;
        animation: nav-animation 500ms forwards ease-out;
       
    }
    .nav-menu{
        display: block;
    }
    @keyframes nav-animation {
        0%{
            height: 0;
        }
        100%{
            height: 160px;
        }
    }
  
    .nav-options ul{
        padding-left: 9px;
        display: flex;
        flex-direction: column;
        background-color: inherit;
        align-items: center;
        height: 0%;
    }
    .nav-options ul li{
        padding: 5px;
    }
   }